.Footer {
    background-color: #131313;
    color: white;
    display: flex;
    align-items: center;
    padding: 2rem 10vw;
    justify-content: space-between;
    width: 100%
}

.Footer a {
    all: unset;
    color: whitesmoke;
    cursor: pointer;
}

.Footer a:hover {
    color: white;
}

.moreinfoContainer img{
    width: 100px;
    height: auto;
}

/* insert | between all elements in hyperlinks container excpet the last one*/
.hyperlinksContainer a:after {
    content: "|";
}

.hyperlinksContainer a:last-child:after {
    content: "";
}

@media (max-width: 950px) {


    .Footer .hyperlinksContainer {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .Footer a {
        display: block;
        flex-basis: 100%;
        text-align: right;
        margin-bottom: 0.5rem;
    }

    .moreinfoContainer a {
        text-align: center;
    }

    .hyperlinksContainer a:last-child:after {
        content: "|";
    }
}


@media (max-width: 600px) {
    .Footer {
        padding: 5rem 5vw;
    }

    .moreinfoContainer {
        display: none;
    }

}
