
.findUsSection {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    width:100%;
    justify-content: center;
    margin-bottom: 30px;
}


.logo{
    height: 128px;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.05);
}
