:root{
    --text-color: #e3e3e3;
    --primary-color:#f1f1f1;
    --secondary-color:whitesmoke;
    --bg-color:black;
}

.Contact{
    display: flex;
    justify-content: space-around;
}




.Contact form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 1rem;
    background-color: var(--bg-color);
    padding: 5% 5%;
    margin-bottom: 5rem;
}

.Contact .form-group{
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: var(--text-color);
}

.Contact .f{
    display: block;
    margin-bottom: 0.5rem;
    color: whitesmoke;
    font-weight: bold;
}



.Contact textarea {
    width: min(50rem,90%);
    font-family: Arial, sans-serif;
    resize: vertical;
}

.contactSectionContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 4rem;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0 7rem;
}

.contactContainer {
    width: min(100%, 75rem);
    background-color: var(--bg-color);
    background-image: linear-gradient(to bottom, #333 30%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 3px 90px;
    background-repeat: repeat-y;
    position: relative;
    z-index: 2;
}

.contactContainer button {
    background-color: transparent !important;
    color: white;
    cursor: pointer;
    padding: 0.7rem 5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1.5px whitesmoke solid;
}

.textContainer svg path{
    fill:var(--primary-color);
    transform: scale(2);
}
.textContainer svg{
    opacity: 0.4;
    margin-top: -25%
}

.contactContainer form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 5%;
}

.contactContainer form div {
    width: 100%;
}


.contactContainer textarea {
    width: 90%;
    font-family: Arial, sans-serif;
    resize: vertical;
}

.contactContainer .ant-form-item-control-input-content{
        font-size: 1rem;

}

.contactContainer .ant-input{
    outline: none;
    -webkit-appearance: none;
    appearance: none;

    background-clip: content-box;
    text-align: left;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-color:transparent;
    color:white;
    font-size: 1.2rem;
    border: 1.5px whitesmoke solid;
    border-radius: 1%;
    padding: 1rem 1rem;
    width: min(100%,40rem);
}
.contactContainer textarea{
    width: 95% !important;
}

.contactContainer ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 0.8; /* Firefox */
}

.textContainer {
    display: flex;
    align-items: flex-start;
    position: relative;

}

.contactContainer .feedback{
    color:white;
}

.titleText {
    padding: 0.5rem 0;
    z-index: 2;
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 3rem;
    font-weight: 715;
    color: var(--primary-color);
    margin: unset;
}


.titleText:after {
    content: "";
    display: inline-block;
    background-color: var(--secondary-color);
    width: 9px;
    height: 100%;
    margin-right: -1rem;
}
.icon{
    position: relative;
    z-index: 2;
    left: 120px;
    font-size: 50px;
}

@media only screen and (max-width: 400px) {
    .titleText:before {
        width: 0.8rem;
        margin-right: 0.25rem;
    }
}

.titleBackgroundBlur{
    display:none;
}

@media only screen and (max-width: 1650px) {
    .titleText {
        writing-mode: unset;
        text-orientation: unset;
    }

    .titleText:after {
        all: unset;
    }

    .titleText:before {
        content: "";
        display: inline-block;
        background-color: var(--secondary-color);
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 1rem;
    }

    .textContainer {
        order: -1;
        padding: 2% 2%;
        width: 100%;

    }
    .titleText{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .contactSectionContainer .aboutHeaderDecoration{
        transform: translateX(15px) translateY(0px) !important;
    }
    .textContainer svg {
        margin-top: -5%;
    }
    .titleBackgroundBlur{
        display:block;
        position: absolute;
        top: -1rem;
        left: 0;
        z-index: 1;
        background-color: var(--section-color);
        filter: blur(3rem);
        opacity: .95;
        right: 0;
        bottom: -1rem;
    }
}

.contactSectionContainer .aboutHeaderDecoration{
    transform: translateX(15px) translateY(-115px);
}



@media only screen and (max-width: 800px) {
    .contactContainer input[type=text], .contactContainer input[type=email], .contactContainer textarea {
        width: 100%;
    }
}