.aboutSectionWrapper {
    color: whitesmoke;
    margin-bottom: 40px;
}

.imagePlaceholder {
    height: 460px;
    width: 530px;
}

.aboutImageContainer {
    object-fit: fill;
    height: 110%;
    width: 100%;
    max-height: 460px;
    max-width: 530px;
    border-radius: 16px;
    box-shadow: 0px 10px 38px 0px rgba(62, 62, 107, 0.6);
}

.imgContainerInfo {
    object-fit: fill;
    height: 460px;
    width: 530px;
    border-radius: 16px;
    box-shadow: 0px 10px 38px 0px rgba(38, 107, 29, 0.6);
}

.aboutText {
    margin-left: 60px;
    font-size: 24px;
}

.aboutTextRight {

    font-size: 24px;
}

.aboutHeader {
    font-size: 64px;
    position: relative;
    margin-bottom: 20px;
    font-weight: 650;
}

.aboutHeaderDecoration {
    position: absolute;
    top: 25%;
    left: 1%;
    color: #f5f5f530;
}

.aboutColumn {
    display: flex;
    align-items: center;
}

.infoText {
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: flex-end;

}

.infoButton {
    all: unset;
    cursor: pointer;
}

