.aboutSectionWrapper {
    color: whitesmoke;
    margin-bottom: 40px;
}

.imagePlaceholder {
    height: 460px;
    width: 530px;
    background-color: whitesmoke;
}

.aboutText {
    margin-left: 60px;
    font-size: 24px;
}

.aboutHeader {
    font-size: 64px;
    position: relative;
    margin-bottom: 20px;
}

.aboutHeaderDecoration {
    position: absolute;
    top: 25%;
    left: 1%;
    color: #f5f5f530
}

.aboutColumn {
    display: flex;

}

.infoText {
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: flex-end;

}

.infoButton {
    all: unset;
    cursor: pointer;
}

