.ourGamesSection {
    color: whitesmoke;
}

.ant-timeline-item-tail {
    border-color: goldenrod !important;
}

.ant-timeline-item-head-blue {
    color: white !important;
    border-color: whitesmoke !important;
    background: unset !important;
}

.ant-timeline-item {
    padding-bottom: 40px !important;
}

.timelineItem {
    font-size: 24px;
}

.timelineImage {
    object-fit: cover;
}

@media only screen and (max-width: 1200px) {
    .ant-timeline-item {
        padding-bottom: 70px !important;
    }
}