.ourGamesSection {
    color: whitesmoke;
}

.ant-timeline-item-tail {
    border-color: goldenrod !important;
}

.ant-timeline-item-head-blue {
    color: white !important;
    border-color: whitesmoke !important;
    background: unset !important;
}

.ant-timeline-item{
    padding-bottom: 40px!important;
}