/*below what happens if breakpoint*/

@media only screen and (max-width: 1200px) {
    .aboutImageContainer {
        margin: auto;
        margin-top: 50px;
    }

    .aboutText {
        margin: unset !important;
    }

    .aboutDescription {
        margin-bottom: 60px !important;
    }

    .timelineItem {
        font-size: 16px !important;
    }

    .timelineImage {
        max-width: 240px;
        max-height: 200px;
        object-fit: cover;
    }

    .reviewHeaderDecoration {
        position: absolute;
        top: 22%;
        left: 25% !important;
        color: #f5f5f530;
        white-space: nowrap;
    }

    .imgInfoContainer{
        height: unset;
    }
}

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1700px) {
    .App {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .reviewHeaderDecoration {
        position: absolute;
        top: 22%;
        left: 10% !important;
        color: #f5f5f530;
        white-space: nowrap;
        font-size: 48px!important;
    }
    .reviewHeader{
        font-size: 48px!important;
    }

    .aboutHeader{
        font-size: 48px!important;
    }
    .App {
        padding: 0 1rem;
    }

    .aboutDescription{
        text-align: center;
    }
}
