/*below what happens if breakpoint*/
@media only screen and (max-width: 900px) {
    .pageHeroVideo video {
        object-fit: cover;
        object-position: 40% 0;
    }
}

@media only screen and (max-width: 1200px) {
    .aboutImageContainer {
        margin: auto;
        margin-top: 50px;
    }

    .aboutText {
        margin: unset!important;
    }
}


@media only screen and (max-width: 1700px) {
    .App {
        padding: 0 2rem;
    }

}
