/*below what happens if breakpoint*/

@media only screen and (max-width: 1200px) {
    .aboutImageContainer {
        margin: auto;
        margin-top: 50px;
    }

    .aboutText {
        margin: unset!important;
    }
    .aboutDescription{
        margin-bottom: 60px!important;
    }
}

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1700px) {
    .App {
        padding: 0 2rem;
    }
}
